<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Lista de Exames</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 " th:fragment="lista-servicos">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title"> Lista de Exames</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="box-body table-responsive ">
							<table class="table table-hover table-striped data-table">
								<thead>
									<tr>
										<th>Data do Exame</th>
										<th>Hora do Exame</th>
										<th>Nome do Paciente</th>
										<th>Tipo do Exame</th>
										<th>Laboratorio</th>
										<th>Especialidade</th>
										<th>Preco</th>
										<th>Detalhes</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="exame :${exames}">

										<td><i th:text="${exame.dataDaConsulta}"></i></td>

										<td><i th:text="${exame.horaDaConsulta}"></i></td>
										<td th:text="${exame.paciente?.nome}"></td>
										<td th:text="${exame.tipoExame}"></td>
										<td th:text="${exame.laboratorio?.descricao}"></td>
										<td th:text="${exame.especialidade?.descricao}"></td>
										<td th:text="${exame.preco}"></td>

										<td><a class="delete btn btn-xs btn-primary"
											th:href="@{/exame/{id}/select/(id=${exame.id})}"><i
												class=" fa fa-eye" style="margin: 2px"></i></a></td>


									</tr>

								</tbody>
								<tfoot>
									<tr>
										<th>Data do Exame</th>
										<th>Hora do Exame</th>
										<th>Nome do Paciente</th>
										<th>Tipo do Exame</th>
										<th>Laboratorio</th>
										<th>Especialidade</th>
										<th>Preco</th>
										<th>Detalhes</th>

									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/exame/procurar/}">Agendar
											Nova</a></th>

								</tr>


							</table>
						</div>

					</div>

				</div>
			</div>


		</div>
	</div>
</body>
</html>