<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Estudantes Da UEM</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 " th:fragment="lista-servicos">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Estudantes Da UEM</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="box-body table-responsive no-padding">
							<table class="table table-hover table-striped data-table">
								<thead>
									<tr>
										<th>Nome </th>
										<th>Data de Nascimento</th>
										<th>Curso</th>
										<th>Ano</th>
										<th>Semestre</th>
										<th>Paciente</th>
										<th>Config. Paciente</th>
										<th>Editar</th>
										<th> Detalhes</th>

									</tr>
								</thead>

								<tbody>
									<tr th:each="estudante :${estudantes}">
										
										<td th:text="${estudante.nome}"></td>
										<td th:text="${estudante.dataDeNascimento}"></td>
										<td th:text="${estudante.curso.descricao}"></td>
										<td th:text="${estudante.ano}"></td>
										<td th:text="${estudante.semestre}"></td>
										<td th:text="${estudante.tipoDePaciente}"></td>
										
										<td><a class="delete btn btn-xs btn-warning"
											th:href="@{/estudante/uem/{id}/configurar(id=${estudante.id})}"><i
												class="fa fa-gears" style="margin: 2px"></i>
										   </a>
										</td>

										<td><a class="delete btn btn-xs btn-primary"
											th:href="@{/estudante/uem/{id}/update(id=${estudante.id})}"><i
												class="fa fa-edit" style="margin: 2px"></i>
										   </a>
										</td>
												
										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/estudante/uem/{id}/(id=${estudante.id})}"><i
												class=" fa fa-eye" style="margin: 2px"></i></a></td>

									</tr>
								</tbody>
								<tfoot>
									<tr>
						             	<th>Nome </th>
										<th>Data de Nascimento</th>
										<th>Curso</th>
										<th>Ano</th>
										<th>Semestre</th>
										<th>Paciente</th>
										<th>Config. Paciente</th>
										<th>Editar</th>
										<th> Detalhes</th>
										
									</tr>

								</tfoot>

							</table>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/estudante/uem/}">Registar Novo</a></th>

								</tr>

							</table>
						</div>

					</div>

				</div>
			</div>


		</div>
	</div>
</body>
</html>