<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Actualizar Estudante</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Estudante: Actualizar Estudante</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row">


							<form action="#" th:object="${estudante}" class=""
								th:action="@{/estudante/uem/update}" method="post">

								<div class="col-md-6">


									<div class="form-group">
										<label for="apelido">Apelido</label> <label
											class="text-danger" th:if="${#fields.hasErrors('apelido')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{apelido}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{apelido}">
									</div>

									<div class="form-group">
										<label for="nome">Nome</label> <label
											class="text-danger" th:if="${#fields.hasErrors('nome')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{nome}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{nome}">
									</div>

									<div class="form-group">

										<label for="id_data">Data de Nascimento </label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('dataDeNascimento')}"> <i
											class="fa fa-times-circle-o"></i> <span
											th:errors="*{dataDeNascimento}"></span>
										</label> <input type="text" id="id_data" placeholder="DD/MM/AAAA"
											class="form-control input-sm" th:field="*{dataDeNascimento}">
									</div>

                                   <div class="form-group">
										<label for="nomeDoPai">Nome do Pai</label> <label
											class="text-danger" th:if="${#fields.hasErrors('nomeDoPai')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{nomeDoPai}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{nomeDoPai}">
									</div>
                                    
									
                                    <div class="form-group">
										<label for="nomeDaMae">Nome da mae</label> <label
											class="text-danger" th:if="${#fields.hasErrors('nomeDaMae')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{nomeDaMae}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{nomeDaMae}">
									</div>
									
								   <div class="form-group">
										<label for="numeroBi">Nº de BI</label> <label
											class="text-danger" th:if="${#fields.hasErrors('numeroBi')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{numeroBi}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{numeroBi}">
									</div>
									
									<div class="form-group ">
										<label for="genero">Género</label> <select
											th:field="*{genero}" class="form-control input-sm">
											<option th:each="genero : ${genero}" th:value="${genero}"
												th:text="${genero}" />
										</select>
									</div>

								</div>

								<!-- Segundo bloco do formulario -->
								<div class="col-md-6">
									
									<div class="form-group ">
										<label for="estadoCivil">Estado Civil</label> <select
											th:field="*{estadoCivil}" class="form-control input-sm">
											<option th:each="estadoCivil : ${estadoCivil}"
												th:value="${estadoCivil}" th:text="${estadoCivil}" />
										</select>
									</div>
									
									<div class="form-group">
										<label for="telefone">Telefone</label> <label
											class="text-danger" th:if="${#fields.hasErrors('telefone')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{telefone}"></span>
										</label> <input type="text" class="form-control"
											th:field="*{telefone}">
									</div>


									<div class="form-group">
										<label for="endereco">Endereço</label> <label
											class="text-danger" th:if="${#fields.hasErrors('endereco')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{endereco}"></span>
										</label> <input type="text" class="form-control"
											th:field="*{endereco}">
									</div>
								
                                   <div class="form-group ">
										<label for="curso">Curso</label> <select
											th:field="*{curso.id}" class="form-control input-sm">
											<option th:each="curso : ${cursos}"
												th:value="${curso.id}" th:text="${curso.descricao}" />
										</select>
									</div>
																		
									<div class="form-group ">
										<label for="ano">Ano</label> <select
											th:field="*{ano}" class="form-control input-sm">
											<option th:each="ano : ${anos}" th:value="${ano}"
												th:text="${ano}" />
										</select>
									</div>
									
									<div class="form-group ">
										<label for="semestre">Semestre</label> <select
											th:field="*{semestre}" class="form-control input-sm">
											<option th:each="semestre : ${semestres}" th:value="${semestre}"
												th:text="${semestre}" />
										</select>
									</div>

									</div>
                                 
									<div class="box-footer">
										<div>
											<button type="submit" class="btn btn-primary  ">
												<i class="fa fa-save inverse" style="margin: 2px"></i>Actualizar
											</button>

											<a class="btn btn-default" th:href="@{/estudante/uem/list}"><i
												class="fa fa-eye" style="margin: 2px"></i>Listar</a> 
										</div>
                                      <input type="hidden" th:field="*{id}" />
                                       <input type="hidden" th:field="*{raca}" />
                                       <input type="hidden" th:field="*{naturalidade}" />
                                       <input type="hidden" th:field="*{email}" />
                                       <input type="hidden" th:field="*{telefoneAlternativo}" />
                                       <input type="hidden" th:field="*{tipoDePaciente}" />
									</div>
									</form>
								</div>
		
						</div>

					</div>
					<!-- /.box-body -->


				</div>
				<!-- /.box -->
			</div>

		</div>
</body>
</html>