<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Servicos</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 " th:fragment="lista-servicos">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">

						<span><b><code>
									<h3 class="box-title">Fatura de Consulta</h3>
								</code></b></span> <span class="tools pull-right"> <a
							class="delete btn btn-xs btn-danger"
							th:href="@{/consulta/listAgendadas}"> <i class=" fa fa-times"
								style="margin: 5px"></i></a>

						</span>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">


						<div class="row invoice-info" style="margin-bottom: 10px">
							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b></b></td>
										<td><h2>
												<span class="label label-success"> <i
													th:text="${paciente.nid}"></i>
												</span>
											</h2></td>
									</tr>

								</table>

							</div>

							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b>Nome </b></td>
										<td><i th:text="${paciente.nome}"
											style="margin-right: 5px"></i><i
											th:text="${paciente.apelido}"></i></td>
									</tr>

								</table>
							</div>
							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b>Tipo de Paciente</b></td>
										<td><i th:text="${paciente.tipoDePaciente}"
											style="margin-right: 5px"> </i></td>
									</tr>

								</table>

							</div>
						</div>
						<span><b><code>
									<h3 class="box-title">Informação da Consulta</h3>
								</code></b></span>
						<div class="box-body table-responsive no-padding">
							<div class="row invoice-info" style="margin-bottom: 10px">
								<div class="col-sm-4 invoice-col">
									<table>
										<thead>
											<tr>
												<th width="50%"></th>
												<th></th>
											</tr>

										</thead>
										<tr>
											<td><b>Tipo de Consulta</b></td>
											<td><i th:text="${consulta.tipoConsulta}"
												style="margin-right: 5px"></i></td>
										</tr>
										<tr>
											<td><b>Especialidade</b></td>
											<td><i th:text="${consulta.especialidade}"></i></td>
										</tr>
										<tr>
											<td><b>Causa de Admissão</b></td>
											<td><i th:text="${consulta.causaAdmissao}"></i></td>
										</tr>
										<tr>
											<td><b>Medico</b></td>
											<td><i th:text="${consulta.medico?.nome}"></i></td>
										</tr>

									</table>

								</div>

								<div class="col-sm-4 invoice-col">
									<table>
										<thead>
											<tr>
												<th width="50%"></th>
												<th></th>
											</tr>

										</thead>
										<tr>
											<td><b>Data</b></td>
											<td><i th:text="${consulta.dataDaConsulta}"></i></td>
										</tr>

										<tr>
											<td><b>Hora</b></td>
											<td><i th:text="${consulta.horaDaConsulta}"></i></td>
										</tr>
										<tr>
											<td><b>Estado</b></td>
											<td><i th:text="${consulta.estado}"></i></td>
										</tr>

									</table>

								</div>
								<div class="col-sm-4 invoice-col">
									<table>
										<thead>
											<tr>
												<th width="83%">Designação dos Serviços</th>
												<th>Preço</th>
											</tr>

										</thead>
										<tr th:each="servico :${consulta.servicos}">

											<td><i th:text="${servico.designacao}"></i></td>
											<td><i th:text="${servico.preco}"></i></td>
										</tr>
										<tr>
											<td><b>Preço da Consulta </b></td>
											<td>
												<h3>
													<span class="label label-default"> <i
														th:text="${consulta.preco}"></i>
													</span>
												</h3>
											</td>
										</tr>

									</table>

								</div>
							</div>


						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer tools pull-right">


						<div class="box-body table-responsive no-padding ">

							<a class="btn btn-success"
								th:href="@{/factura/{id}/pagar/(id=${consulta.id})}"> <i
								class="fa fa-dollar" style="margin: 2px"></i>Efetuar
								Pagamento
							</a> <a class="btn btn-danger"> <i class="fa fa-print"
								style="margin: 2px"></i>Imprimir Fatura
							</a>

						</div>

					</div>

				</div>
			</div>


		</div>
	</div>

</body>
</html>