<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Lista de Perfis</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Role List - Lista de Perfis</h3>
					</div>


					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="message-update-role" th:if="${message_update_role}">

						</div>
						<div class="message-save-role" th:if="${message_save_role}">

						</div>


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover table-striped data-table">
								<thead>
									<tr>
										<th>Designação do Perfil</th>
										<th>Permissiões</th>

										<th>Data de Registo</th>
										<th>Edita</th>






									</tr>
								</thead>

								<tbody>
									<tr th:each="role :${roles}">
										<td th:text="${role.rolename}"></td>

										<td>
											<ul th:each="permission :${role.permissions}">

												<li th:text="${permission.authorization}"></li>


											</ul>
										</td>

										<td><i th:text="${role.created}"></i></td>
										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/roles/{id}/update(id=${role.id})}"><i
												class="fa fa-edit" style="margin: 2px"></i>Editar</a></td>


									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>Designação do Perfil</th>
										<th>Permissiões</th>

										<th>Data de Registo</th>
										<th>Edita</th>






									</tr>

								</tfoot>

							</table>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/roles/}">Registar
											Novo</a></th>

								</tr>


							</table>
						</div>

					</div>

				</div>
			</div>


		</div>
	</div>
</body>
</html>