<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title> Acualização de Dados do Utilizador</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Actualização de Dados de Utilizador</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row">
							<div class="col-md-6">

								<form th:action="@{/utilizadores/update}" th:object="${user}"
									class="" method="post">




									<div class="form-group ">
										<label for="nome">Nome</label> <label class="text-danger"
											th:if="${#fields.hasErrors('nome')}"> <i
											class="fa fa-times-circle-o"></i> <span th:errors="*{nome}"></span>
										</label> <input type="text" class="form-control" th:field="*{nome}">
									</div>



									<div class="form-group ">
										<label for="username">email/username</label> <label
											class="text-danger" th:if="${#fields.hasErrors('username')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{username}"></span>
										</label> <input type="email" class="form-control" disabled="disabled"
											th:field="*{username}">
									</div>
									<div class="form-group ">
										<label for="telefone">Telefone</label> <label
											class="text-danger" th:if="${#fields.hasErrors('telefone')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{telefone}"></span>
										</label> <input type="text" class="form-control"
											th:field="*{telefone}">
									</div>
									<!-- 									<div class="form-group"> -->
									<!-- 										<label for="password">Senha</label> <label class="text-danger" -->
									<!-- 											th:if="${#fields.hasErrors('password')}"> <i -->
									<!-- 											class="fa fa-times-circle-o"></i> <span -->
									<!-- 											th:errors="*{password}"></span> -->
									<!-- 										</label> <input type="password" class="form-control" -->
									<!-- 											th:field="*{password}"> -->
									<!-- 									</div> -->

									<!-- 									<div class="form-group"> -->
									<!-- 										<label for="passwordConfirmation">Senha</label> <label -->
									<!-- 											class="text-danger"> <i -->
									<!-- 											class="fa fa-times-circle-o"></i> <span></span> -->
									<!-- 										</label> <input type="password" class="form-control" -->
									<!-- 											th:field="*{password}"> -->
									<!-- 									</div> -->


									<!-- th:selected="*{consulta.servicos.contains(servico)}" -->

									<div class="form-group ">
										<label for="roles">Perfil</label> <select required="required"
											name="roles" multiple="multiple" id="roles"
											class="form-control input-sm multiple-select">

											<option th:each="role : ${roles}" th:value="${role.id}"
												th:text="${role.rolename}"
												th:selected="${userroles.contains(role)}" />
										</select>
									</div>


									<input type="hidden" th:field="*{id}"> <input
										type="hidden" th:field="*{password}"> <input
										type="hidden" th:field="*{username}">



									<div class="box-footer">
										<div>
											<button type="submit" class="btn btn-sm btn-success  ">
												<i class="fa  fa-refresh" style="margin: 2px"></i>Actualizar
											</button>

											<a class="btn btn-default" th:href="@{/utilizadores/list}"><i
												class="fa fa-eye" style="margin: 2px"></i>Listar</a>




										</div>


									</div>
								</form>
							</div>


						</div>

					</div>
					<!-- /.box-body -->


				</div>
				<!-- /.box -->
			</div>





		</div>
	</div>
</body>
</html>