!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Detalhes do Servico</title>
</head>
<body>
	<div layout:fragment="conteudo">


		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">

				<!-- general form elements -->
				<div class="box box-success">

					<div class="box-header">

						<div class="box-header">
							<h3 class="box-title">
								<i class="fa fa-eye"></i>Detalhes do Servicos <small
									class="pull-right"> </small>
							</h3>

						</div>

					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row ">
							<div class="col-md-8">
								<div class="alert alert-success alert-dismissable"
									th:if="${messageVisible}">
									<i class="fa fa-check"></i>
									<button type="button" class="close" data-dismiss="alert"
										aria-hidden="true">&times;</button>
									<b>Registo do Servico: </b>
									<p>Servico registado com sucesso!</p>
								</div>
							</div>
						</div>
						<!-- info row -->
						<div class="row invoice-info" style="margin-bottom: 10px">

							<div class="col-sm-12 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="40%"></th>
											<th></th>
										</tr>

									</thead>
									<tbody>

										<tr>
											<td><b>Designação de Serviço : </b></td>
											<td><i th:text="${servico.designacao}"
												style="margin-right: 5px"></i></td>
										</tr>

										<tr>
											<td><b>Preço :</b></td>
											<td><i th:text="${servico.preco}"
												style="margin-right: 5px"></i></td>
										</tr>

										<tr>
											<td><b>Serviço do Tipo </b></td>
											<td><i th:text="${servico.servicoTipo}"
												style="margin-right: 5px"></i></td>
										</tr>

									</tbody>
								</table>

							</div>

						</div>

						<div class="box-footer">
							<div class="box-body table-responsive no-padding">

								<a th:href="@{/parametro/servico}" class="">
									<i class="" style="margin-right: 2px"></i>Novo Serviço
								</a> <a class=""
									th:href="@{/parametro/servico/{id}/update(id=${servico.id})}">
									<i class="" style="margin-right: 52px"></i>Editar
								</a> <a class="" th:href="@{/parametro/servico}">
									<i class="" style="margin-right: 52px"></i>Voltar
								</a>

							</div>
						</div>



					</div>

					<!-- /.box-body -->

				</div>

			</div>


		</div>

	</div>

</body>
</html>
