<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Detalhes do Funcionário</title>
</head>

<body>

	<div layout:fragment="conteudo">

		<div class="row">
			<!-- left column -->


			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">
							<i class="fa fa-eye"></i> Detalhes do Funcionário <small
								class="pull-right"></small>
						</h3>
						
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row ">
							<div class="col-md-8">
								<div class="alert alert-success alert-dismissable"
									th:if="${messageVisible}">
									<i class="fa fa-check"></i>
									<button type="button" class="close" data-dismiss="alert"
										aria-hidden="true">&times;</button>
									<b>Registo de Funcionário: </b>
									<p>Funcionário registado com sucesso!</p>
								</div>
							</div>
						</div>
						<!-- info row -->
						<div class="row invoice-info" style="margin-bottom: 10px">
							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>
									</thead>
									<tr>
										<td><b>Nome completo:</b></td>
										<td><i th:text="${funcionario.nome}"
											style="margin-right: 5px"></i><i
											th:text="${funcionario.apelido}"></i></td>
									</tr>
								    <tr>
										<td><b>Data de Nascimento:</b></td>
										<td><i th:text="${funcionario.dataDeNascimento}"></i></td>
									</tr>
									<tr>
										<td><b>Filho de:</b></td>
										<td><i th:text="${funcionario.nomeDoPai}"
											style="margin-right: 5px"></i><i>e </i></td>
									</tr>
									<tr>
										<td><b></b></td>
										<td><i th:text="${funcionario.nomeDaMae}"></i></td>
									</tr>
					                <tr>
										<td><b>Nº de BI</b></td>
										<td><i th:text="${funcionario.numeroBi}"></i></td>
									</tr>

								</table>

							</div>

							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>

									<tr>
										<td><b>Genero:</b></td>
										<td><i th:text="${funcionario.genero}"></i></td>
									</tr>
									<tr>
										<td><b>Estado Civil:</b></td>
										<td><i th:text="${funcionario.estadoCivil}"></i></td>
									</tr>
									<tr>
										<td><b>Telefone</b></td>
										<td><i th:text="${funcionario.telefone}"></i></td>
									</tr>
									<tr>
										<td><b>Endereco:</b></td>
										<td><i th:text="${funcionario.endereco}"
											style="margin-right: 5px"></i></td>
									</tr>
									
								</table>

							</div>
							
							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>

									<tr>
										<td><b>Unidade </b></td>
										<td><i th:text="${funcionario.unidade?.designacao}"></i></td>
									</tr>
									<tr>
										<td><b>Função</b></td>
										<td><i th:text="${funcionario.funcao}"></i></td>
									</tr>
									<tr>
										<td><b>Nivel Academico</b></td>
										<td><i th:text="${funcionario.nivelAcademico}"></i></td>
									</tr>

								</table>

							</div>
						</div>

						<div class="box-header"></div>

						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/funcionario/uem}">Registar Novo</a></th>
									<th><a class="" th:href="@{/funcionario/uem/{id}/update(id=${funcionario.id})}">Editar</a></th>
									<th><a class="" th:href="@{/funcionario/uem/list}" >Listar
											todos</a></th>
											
								</tr>

							</table>
						</div>
					</div>
					<!-- /.box-body -->

				</div>
			</div>

		</div>
	</div>
</body>
</html>