<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Registar Medico</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Paciente: Registo de Médico</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row">


							<form action="#" th:object="${medico}" class=""
								th:action="@{/parametro/medicos/add}" method="post">

								<div class="col-md-6">


									<div class="form-group">
										<label for="designacao">Código</label> <label
											class="text-danger" th:if="${#fields.hasErrors('codigo')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{codigo}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{codigo}">
									</div>

									<div class="form-group">
										<label for="designacao">Apelido</label> <label
											class="text-danger" th:if="${#fields.hasErrors('apelido')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{apelido}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{apelido}">
									</div>

									<div class="form-group">
										<label for="designacao">Nome</label> <label
											class="text-danger" th:if="${#fields.hasErrors('nome')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{nome}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{nome}">
									</div>

									<div class="form-group">

										<label for="id_data">Data de Nascimento </label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('dataDeNascimento')}"> <i
											class="fa fa-times-circle-o"></i> <span
											th:errors="*{dataDeNascimento}"></span>
										</label> <input type="text" id="id_data" placeholder="DD/MM/AAAA"
											class="form-control input-sm" th:field="*{dataDeNascimento}">
									</div>

									<div class="form-group">
										<label for="numeroDocumento">Número do BI</label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('numeroDeBi')}"> <i
											class="fa fa-times-circle-o"></i> <span
											th:errors="*{numeroDeBi}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{numeroDeBi}">
									</div>

									<div class="form-group">
										<label for="naturalidade">Naturalidade</label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('naturalidade')}"> <i
											class="fa fa-times-circle-o"></i> <span
											th:errors="*{naturalidade}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{naturalidade}">
									</div>
									
									<div class="form-group ">
										<label for="tipoServico">Género</label> <select
											th:field="*{genero}"
											class="form-control input-sm multiple-select">
											<option th:each="genero : ${genero}" th:value="${genero}"
												th:text="${genero}" />
										</select>
									</div>

								</div>

								<!-- Segundo bloco do formulario -->
								<div class="col-md-6">


									<div class="form-group ">
										<label for="estadoCivil">Estado Civil</label> <select
											th:field="*{estadoCivil}"
											class="form-control input-sm multiple-select">
											<option th:each="estadoCivil : ${estadoCivil}"
												th:value="${estadoCivil}" th:text="${estadoCivil}" />
										</select>
									</div>


									<div class="form-group">
										<label for="designacao">Residência</label> <label
											class="text-danger" th:if="${#fields.hasErrors('endereco')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{endereco}"></span>
										</label> <input type="text" class="form-control"
											th:field="*{endereco}">
									</div>
									<div class="form-group">
										<label for="designacao">Email</label> <label
											class="text-danger" th:if="${#fields.hasErrors('email')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{email}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{email}">
									</div>

									<div class="form-group">
										<label for="designacao">Telefone Principal</label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('telefonePrincipal')}"> <i
											class="fa fa-times-circle-o"></i> <span
											th:errors="*{telefonePrincipal}"></span>
										</label> <input type="text" class="form-control  input-sm"
											th:field="*{TelefonePrincipal}">
									</div>

									<div class="form-group">
										<label for="designacao">Telefone Alternativo</label> <label
											class="text-danger"
											th:if="${#fields.hasErrors('telefoneAlternativo')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{telefoneAlternativo}"></span>
										</label> <input type="text" class="form-control  input-sm"
											th:field="*{TelefoneAlternativo}">
									</div>

<!-- 									<div class="form-group ">
										<label for="sector">Sector</label> <select
											th:field="*{sector.id}"
											class="form-control input-sm multiple-select">
											<option th:each="sector : ${sectores}"
												th:value="${sector.id}" th:text="${sector.descricao}" />
										</select>
									</div> -->

									<div class="form-group ">
										<label for="especialidade">Especialidade</label> <select
											th:field="*{especialidade.id}"
											class="form-control input-sm multiple-select">
											<option th:each="especialidade : ${especialidades}"
												th:value="${especialidade.id}"
												th:text="${especialidade.descricao}" />
										</select>
									</div>

									<div class="box-footer">
										<div>
											<button type="submit" class="btn btn-primary  ">
												<i class="fa fa-save inverse" style="margin: 2px"></i>Registar
											</button>

											<a class="btn btn-default"
												th:href="@{/parametro/medicos/list}"><i
												class="fa fa-eye" style="margin: 2px"></i>Listar</a> <a
												class="btn btn-default" th:href="@{/parametro/medicos/}">
												Voltar </a>
										</div>

									</div>
								</div>
							</form>

						</div>

					</div>
					<!-- /.box-body -->


				</div>
				<!-- /.box -->
			</div>

		</div>
	</div>
</body>
</html>