<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Medico</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Registo de Medicos</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<div class="row">
							<div class="col-md-12 col-lg-12">

								<form action="#" th:object="${medico}" class=""
									th:action="@{/parametro/medico}" method="post">
									<div class="row"></div>
									<div class="col-lg-6 col-md-6">


										<div class="form-group">
											<label for="designacao">Nome</label> <label
												class="text-danger" th:if="${#fields.hasErrors('nome')}">
												<i class="fa fa-times-circle-o"></i> <span
												th:errors="*{nome}"></span>
											</label> <input type="text" class="form-control" th:field="*{nome}">

										</div>

										<div class="form-group">
											<label for="designacao">Apelido</label> <label
												class="text-danger" th:if="${#fields.hasErrors('apelido')}">
												<i class="fa fa-times-circle-o"></i> <span
												th:errors="*{apelido}"></span>
											</label> <input type="text" class="form-control"
												th:field="*{apelido}">
										</div>

									</div>
									<div class="col-lg-6 col-md-6">

										<div class="form-group ">
											<label for="tipoServico">Especialidade</label> <select
												th:field="*{especialidade}" class="form-control">
												<option th:each="especialidade : ${especialidade}"
													th:value="${especialidade}" th:text="${especialidade}" />
											</select>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="box-footer">
													<div>
														<button type="submit" class="btn btn-primary  ">
															<i class="fa fa-save inverse" style="margin: 2px"></i>Registar
														</button> 
														<a class="btn btn-warning" th:href="@{/parametro/medico}">
															Cancelar </a>
													</div>

												</div>
											</div>
										</div>

									</div>

								</form>
							</div>

							<div class="col-lg-12" style="margin-top: 10px">
								<div class=" table-responsive no-padding">
									<table class="table table-hover table-striped data-table">
										<thead>
											<tr>
												<th>Nome</th>

												<th>Apelido</th>
												<th>Especialidade</th>
												<th>Editar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="medico :${medicos}">

												<td th:text="${medico.nome}"></td>
												<td th:text="${medico.apelido}"></td>
												<td th:text="${medico.especialidade}"></td>

												<td><a class="delete btn btn-xs btn-primary"
													th:href="@{/parametro/medico/{id}/update(id=${medico.id})}"><i
														class="fa fa-edit" style="margin: 2px"></i></a></td>

											</tr>
										</tbody>

									</table>
								</div>


							</div>


						</div>

					</div>
					<!-- /.box-body -->
					<div class="box-footer"></div>

				</div>
				<!-- /.box -->
			</div>

		</div>
	</div>
</body>
</html>




